
.container-5 {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* Blackjack*/


.flex-blackjack-row-1 {
    background: url("img/blackjack-backdrop.jpg") center;
    color: #ffffff;
    height: 500px;
}

.flex-blackjack-row-1 div{
    border: 2px solid black;
    height: 400px;
    flex: 1;
    text-align: center;
}

.flex-blackjack-row-1 img {
    border: 1px solid black;
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
}

.flex-blackjack-row-2 {
    background: url("img/blackjack-backdrop.jpg") center;
    color: #ffffff;
    height: 150px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
    height: 80px;
}

table, th, td {
    padding: 5px;
    border: 2px solid black;
}

