/* CHALLENGE #1 */

.container-1, 
.container-2, 
.container-3, 
.container-4, 
.container-5 {
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flexbox-container-1,
.flexbox-container-2, 
.flex-box-rps, 
.flex-box-pick-color, 
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}


/* CHALLENGE #2 */


.flexbox-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);

}


/* CHALLENGE #3 */

.flex-box-rps img {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}


/* Blackjack*/


.flex-blackjack-row-1 {
    background: url("img/blackjack-backdrop.jpg") center;
    color: #ffffff;
    height: 500px;
}

.flex-blackjack-row-1 div{
    border: 2px solid black;
    height: 400px;
    flex: 1;
    text-align: center;
}

.flex-blackjack-row-1 img {
    border: 1px solid black;
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
}

.flex-blackjack-row-2 {
    background: url("img/blackjack-backdrop.jpg") center;
    color: #ffffff;
    height: 150px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
    height: 80px;
}

table, th, td {
    padding: 5px;
    border: 2px solid black;
}

